<div class="container">
  <div class="menu">
    {{#link-to "index"}}
      <h1>
        Restaurants
      </h1>
    {{/link-to}}
    <button>{{#link-to "restaurants.new"}}Add new{{/link-to}}</button>
  </div>
  <div class="body">
    {{outlet}}
  </div>
</div>